.div-page {
    width: 100%;
    height: auto;
}

.div-card {
    width: 700px;
    align-items: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.card-title {
    text-align: center;
    margin-top: 15px;
}

.card-text {
    text-align: center;
}

.btn-card {
    width: 300px;
    margin-bottom: 5px;
    margin-left: 30%;
}

.div-map {
    margin-top: 50px;
    display: grid;  /* alinha os itens um embaixo do outro */
    justify-content: center;
}

.div-input-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input-home {
    width: 400px;
}